<div class="card" style="background-color:  rgba(250, 234, 171, 0.845);">
    <div class="card-title">
        <h2 class="cardHeader">{{ name }}</h2>
        <h3 class="cardSub"><i class="fas fa-user-graduate"></i>{{ role }}</h3>
        <img src="{{ profile }}" alt="profile pic" class="img-thumbnail">
    </div>
    <div class="datailsContainer">
        <li class="details">Id: {{ id }}</li>
        <li class="details">Gender: {{ gender }}</li>
        <li class="details">Age: {{ age }}</li>
        <li class="details">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
        <li class="details">School: {{ school }}</li>
        </ul>
    </div>
</div>