<!DOCTYPE html>
<html lang="en-au">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>JKB: Project Team</title>
    <link
        href="https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text|Press+Start+2P|Orbitron|Permanent+Marker&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
    <link rel="stylesheet" href="../styleCust.css">
</head>

<body>
    <Header>
        <h1 id="headerTitle">Foreign JKB</h1>
        <div id="headerBtnBox">
            <button class="btnHeader">Home</button>
            <button class="btnHeader">GitHub</button>
            <button class="btnHeader">ReadMe</button>
            <button class="btnHeader">Demo</button>
        </div>
    </Header>

    <section>
        <h1 id="subHeading">Meet the Team</h1>
        </div>
    </section>
    <figure>
        <div class="gridContainer">

        {{ team }}
        
            </div>
    </figure>
    <footer>
        <p>Week10: Team Profile Generator // Node.Js Inquire</p>
    </footer>

</body>

</html>